/*----------------------- IMPORT FONT ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,700,300);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300);

/*---------------------------- GENERAL -------------------------*/
body{
	background: #005b87;
}
.container{
	width: 992px;
}

.wfull{
	min-width: 1100px;
}
/*-------------- HEADER -------------------*/
.header{
	height: 103px;
	background: url(../images/header-back.jpg) repeat-x;
	position: relative;
	z-index: 15;
}

.header .container{
	background: url(../images/header-front.jpg) no-repeat top left;
	height: 103px;
}

.logo-top{
	float: left;
	margin-left: 8px;
	margin-top: 24px; 
}

.tagline{
	float: left;
	margin-left: 62px;
	margin-top: 45px; 
}

.select-language{
	font-family: 'Roboto', sans-serif;
	float: right;
	height: 20px;
	line-height: 20px;
	font-weight: 300;
	margin-top: 15px;
}

.select-language a{
	color: #676767;
	text-decoration: none;
}

.select-language a:hover, .select-language a.active{
	font-weight: 500;
	color: #0088CC;
}

.form-search{
	float: right;
	margin-top: 10px;
}


/*---------------------- MENU TOP --------------------------*/
.menu-top-container{
	height: 40px;
	background: url(../images/menu-back.jpg) repeat-x;
	position: relative;
	z-index: 15;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.40);
	-moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.40);
	box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.40);
}

.menu-top-container .menu-top-front{
	height: 40px;
	width: 316px;
	float: left;
	margin-left: -24px;
	background: url(../images/menu-front.jpg) no-repeat;
}

.menu-top{
	float: right;
	height: 40px;
	font-family: 'PT Sans', sans-serif;
}

.menu-top > ul{
	list-style: none;
	height: 40px;
}

.menu-top > ul > li{
	position: relative;
	height: 40px;
	float: left;
	color: #fff;
	font-size: 13px;
	background: url(../images/menu-sparator.jpg) no-repeat top left;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.66);
}

.menu-top > ul > li:last-child > a{
	background: url(../images/menu-sparator.jpg) no-repeat top right;
}

.menu-top > ul > li > a{
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
}

.menu-top > ul > li > a:hover, .menu-top > ul > li.active > a{
	color: #EFEAA3;
	text-decoration: none;
	background: url(../images/menu-hover.jpg) no-repeat top left;
}

/*LEVEL 2*/
.menu-top > ul > li > ul{
	position: absolute;
	top: 40px;
	left: 2px;
	background: #0e5986;
	display: none;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.40);
	-moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.40);
	box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.40);
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	list-style: none;
}

.menu-top > ul > li:hover > ul{
	display: block;
}


.menu-top > ul > li > ul > li{
	width: 200px;
	line-height: 25px;
}

.menu-top > ul > li > ul > li > a{
	color: #fff;
	padding: 0px 15px;
	display: block;
}

.menu-top > ul > li > ul > li > a:hover{
	color: #EFEAA3;
	text-decoration: none;
}


/*--------------------------- FCS HOME ---------------------------*/
.fcs-full{
	background: url(../images/fcs-back.jpg) repeat-x top left;
	height: 507px;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

.fcs-full .container{
	position: relative;
}

.fcs-container{
	width: 850px;
	height: 507px;
	float: right;
	position: relative;
	margin-right: -200px;
}

.fcs{
	width: 850px;
	height: 507px;
	z-index: 10;
}

.fcs-shadow-l{
	background: url(../images/fcs-shadow-l.png) no-repeat top left;
	width: 200px;
	height: 507px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 15;
}

.fcs-shadow-r{
	background: url(../images/fcs-shadow-r.png) no-repeat top left;
	width: 200px;
	height: 507px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 15;
}

.fcs-text{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	top: 40px;
	left: 20px;
	z-index: 20;
	width: 440px;
	color: #363535;
	line-height: 1.5;
}

.fcs-text-title{
	font-weight: 500;
	font-size: 15px;
	color: #0071a5;

}

.fcs-line{
	background: url(../images/fcs-line.png) no-repeat;
	width: 558px;
	height: 2px;
}

.fcs-text h3{
	font-weight: 700;
	font-size: 21px;
}

.fcs-text p{
	font-weight: 300;
	font-size: 14px;
}

.fcs-text p.less{
	font-weight: 300;
	font-size: 19px;
	line-height: 1.3;
}

.fcs-text p.link{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
	font-size: 14.5px;
	line-height: 1.3;
	color: #0071a5;
}

.fcs-text p.link a{
	color: #363535;
}

.fcs-text p.link a:hover{
	color: #06AEFF;
	text-decoration: none;
}


/*------------------------- FOOTER --------------------------*/
.footer{
	background: #005b87;
	min-height: 80px;
	border-top: 1px solid #005a8f;
}

.banner-container{
	margin-right: -20px;
}

.banner{
	background: url(../images/banner-back.jpg) repeat-x;
	width: 328px;
	height: 159px;
	margin-right: 4px;
	float: left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: -77px;
	position: relative;
	z-index: 20;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.21);
	-moz-box-shadow:    0px 3px 6px rgba(0, 0, 0, 0.21);
	box-shadow:         0px 3px 6px rgba(0, 0, 0, 0.21);
	border-top: 2px solid #fdfdfd;
	border-bottom: 1px solid #969698;
}

.banner-title{
	color: #363535;
	font-size: 19px;
	font-weight: 700;
	font-family: 'Merriweather Sans', sans-serif;
	margin-left: 20px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	margin-bottom: 9px;
}

.banner-title.blue{
	color: #0071a5;
}

.banner-line{
	background: url(../images/banner-line.jpg) repeat-x;
	height: 2px;
}

.banner-image{
	float: left;
}

.banner-layanan-list{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	font-size: 11px;
	float: left;
	width: 200px;
	padding-top: 5px;
}

.banner-layanan-list ul{
	margin: 0px;
	margin-left: 10px;
}

.banner-layanan-list ul li {
	color: #1c1c1c;
	line-height: 1.5;
	margin: 3px 0px;
}

.banner-layanan-list ul li a{
	color: #1c1c1c;
}

.banner-layanan-list ul li a:hover{
	color: #0066CC;
	text-decoration: none;
}

.banner-1 .link{
	margin-left: 10px;
}

.banner-1 .link a{
	color: #1c1c1c;
}

.banner-1 .link a:hover{
	color: #0066CC;
	text-decoration: none;
}

.banner-2 .banner-layanan-list{
	width: 300px;
	margin-left: 20px;
}

.banner-2 .banner-layanan-list ul li{
	margin: 4px 0px 11px;
}

.banner-3 .dl-horizontal dt{
	width: 30px;
	margin-left: 20px;
	text-align: left;
	margin-bottom: 7px;
}

.banner-3 .dl-horizontal dd{
	margin-left: 30px;
	margin-bottom: 7px;
	font-size: 13px;
	color: #000;
	font-weight: 300;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.banner-3 .dl-horizontal dd.big{
	font-size: 17.3px;
	font-weight: 700;
}
.banner-3 .dl-horizontal dd.last{
	height: 39px;
	overflow: hidden;
}

.footer-container{
	
}

.logo-footer{
	float: left;
}

.footer-text{
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	color: #e4e4e4;
	font-size: 10px;
	line-height: 1.5;
	float: left;
	margin-left: 20px;
	margin-top: 7px;
}

.footer-text b{
	font-weight: 700;
	font-size: 11px;
}

.footer-text a{
	color: #fff;
}

.footer-text a:hover{
	color: #EFEAA3;
	text-decoration: none;
}


/*--------------------------- CONTENT ------------------------*/
.content-full{
	background: #fff;
}

.content-left{
	width: 620px;
	float: left;
	margin-left: 20px;
	margin-bottom: 30px;
}

.menu-left-container{
	width: 320px;
	float: right;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	background: url(../images/menu-left-back.jpg) repeat-x;
	min-height: 440px;
	position: relative;
}

.menu-left-container table tr td{
	padding: 0px;
}

.menu-left-shad-l{
	background: url(../images/menu-left-shad-l.png) no-repeat;
	width: 15px;
	height: 347px;
	position: absolute;
	top: 0;
	left: -17px;
}

.menu-left-shad-r{
	background: url(../images/menu-left-shad-r.png) no-repeat;
	width: 15px;
	height: 347px;
	position: absolute;
	top: 0;
	right: -17px;
}

.menu-left-line{
	background: url(../images/menu-left-line.png) no-repeat;
	width: 340px;
	height: 2px;
}

/*----------------------------- TEXT CONTENT -------------------------*/
.text-content{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #363535;
	line-height: 1.4;
	font-size: 14px;
}
.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content h6{
	color: #007dc2;
	font-weight: 300;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	line-height: 1.2;
}
.text-content h1{
	font-size: 23px;
}
.text-content h1.main-title{
	font-weight: 700;
	font-size: 21px;
	color: #000;
	margin-bottom: 10px;
}
.text-content h2{
	font-size: 21px;	
}
.text-content h3{
	font-size: 19px;
}
.text-content h4{
	font-size: 17px;
}
.text-content h5{
	font-size: 15px;
}
.text-content h6{
	font-size: 13px;
}
.text-content .color-red{
	color: #a70000;
}
.text-content .normal{
	font-weight: normal;
}

.text-content p{
	margin: 0px;
	padding: 0;
	margin-bottom: 15px;
	line-height: 1.4;
	text-align: justify;
}
.text-content p.less{
	font-size: 15px;
	line-height: 1.4;
	font-style: italic;
	margin-top: -10px;
}

.text-content img{
	background-color: #FFF;
	border: 3px solid #FFF;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    1px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
}

.text-content ul{
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
}

.text-content ul li{
	margin-bottom: 10px;
}

.text-content a{
	color: #363535;
	text-decoration: underline;
}

.text-content a:hover{
	text-decoration: none;
}

.text-content span{
	color: #7c7c7c;
}

/*------------------------------ TEXT MENU LEFT --------------------------*/
.text-content.menu-left-container{
	font-weight: 400;
}

.text-content.menu-left-container h1, .text-content.menu-left-container h2, .text-content.menu-left-container h3, .text-content.menu-left-container h4, .text-content.menu-left-container h5, .text-content.menu-left-container h6{
	font-weight: 400;
}

.text-content.menu-left-container h6{
	margin-bottom: 5px;
}

.text-content.menu-left-container ul{
	font-size: 12px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #000;
}

.text-content.menu-left-container ul li{
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	margin-bottom: 10px;
	background: url(../images/menu-left-panah.png) no-repeat;
}

.text-content.menu-left-container ul li a{
	color: #363535;
	text-decoration: none;
	display: block;
}

.text-content.menu-left-container ul li a:hover{
	color: #007dc2;
	text-decoration: none;
}

.text-content.menu-left-container .dl-horizontal dt{
	width: 30px;
	text-align: left;
	margin-bottom: 7px;
	font-size: 11px;
	font-weight: 400;
}

.text-content.menu-left-container .dl-horizontal dd{
	margin-left: 30px;
	margin-bottom: 7px;
}

.text-content .pagination{
	font-size: 17.5px;
	font-weight: 300;
	margin: 0px;
}

.text-content .pagination a{
	color: #007DC2;
	text-decoration: none;
}

.text-content .pagination a:hover{
	color: #000;
	text-decoration: none;
}


/*--------------------------- CONTENT LIST -------------------------*/
.content-list-container{

}

.content-list{
	height: 232px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    1px 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow:         1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 15px;
}

.content-list.askus{
	height: auto;
}

.content-list-img{
	float: left;
	width: 195px;
	height: 232px;
}

.content-list-img img{
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	margin-bottom: 0px;
}

.content-list-desc{
	float: right;
	margin-right: 30px;
	margin-top: 20px;
	width: 370px;
	height: 212px;
	position: relative;
}
.askus .content-list-desc{
	float: none;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 0px;
	width: auto;
	height: auto;
	position: relative;
	padding-bottom: 20px;
}

h3.content-list-title{
	font-weight: 700;
	margin-bottom: 10px;
}

h3.content-list-title a{
	color: #007dc2;
	text-decoration: none;
}

h3.content-list-title a:hover{
	color: #06aeff;
}

.content-list-desc .link{
	font-weight: 400;
	position: absolute;
	bottom: 15px;
	left: 0px;
}

.askus .content-list-desc .link{
	font-weight: 400;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.content-list-desc .link a{
	font-weight: 400;
	text-decoration: none;
}

.content-list-desc .link a:hover{
	color: #06AEFF;
}


/*--------------------------- ARTIKEL MENU LEFT --------------------*/
.text-content.menu-left-container ul.menu-artikel > li{
}
.text-content.menu-left-container ul.menu-artikel > li > ul{
	list-style: none;
	margin-left: -20px;
	list-style-position: inside;
	padding-left: 20px;
	background-position: bottom left;
}

.text-content.menu-left-container ul.menu-artikel > li > ul > li{
	background: none;
	padding-left: 20px;
	background: url(../images/menu-left-sub-panah.png) no-repeat;
}

img.image-news{
	margin-left: 20px;
	margin-bottom: 10px;
}


/*-------------------- FORM CONTACT -------------------------------*/
form.form-frontend{
	
}

form.form-frontend label.control-label{
	text-align: left;
}

form.form-frontend .span4.left label.control-label{
	width: 95px;
	margin-left: 5px;
}
form.form-frontend .span4.left .controls{
	margin-left: 95px;
	position: relative;
}
form.form-frontend .controls{
	position: relative;
}
img.ui-datepicker-trigger{
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	margin-bottom: 0px;
	position: absolute;
	top: 3px;
	left: 110px;
}
.span4.left img.ui-datepicker-trigger{
	left: 115px;
}


/*---------------------------- SEARCH ------------------------*/
.search-list{
	margin-bottom: 20px;
}

.search-image{
	width: 100px;
	float: left;
}

.search-text{
	float: right;
	width: 500px;
}

.search-text2{

}

.search-title{
	font-weight: 700;
	font-size: 20px;
	color: #06AEFF;
	margin-bottom: 5px;
}

.search-title a{
	color: #06AEFF;
	text-decoration: none;
}

.search-title a:hover{
	color: #256BE0;
	text-decoration: none;
}

.search-description{
	margin-bottom: 5px;
}

.search-link a{
	color: #06AEFF;
	text-decoration: none;
}

.search-link a:hover{
	color: #256BE0;
	text-decoration: none;
}


/*-------------------------- ICON ----------------------------*/
.icon-home{
	background: url(../images/icon-home.png) no-repeat;
	width: 20px;
	height: 19px;
	line-height: 19px;
	margin-top: 0px;
}

.icon-panah{
	background: url(../images/icon-panah.png) no-repeat;
	width: 21px;
	height: 24px;
	line-height: 24px;
	margin-top: -3px;
}

.icon-telp{
	background: url(../images/icon-telp.png) no-repeat;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-top: 0px;
}
.icon-fax{
	background: url(../images/icon/icon_fax.png) no-repeat;
	width: 14px;
	height: 15px;
	line-height: 18px;
	margin-top: 0px;
}

.icon-mail{
	background: url(../images/icon-mail.png) no-repeat;
	width: 17px;
	height: 12px;
	line-height: 12px;
	margin-top: 0px;
}

.icon-flag{
	background: url(../images/icon-flag.png) no-repeat;
	width: 16px;
	height: 17px;
	line-height: 17px;
	margin-top: 0px;
}
.icon-pin{
	background: url(../images/icon/icon-pin.png) no-repeat;
	width: 13px;
	height: 17px;
	line-height: 17px;
	margin-top: 0px;
}

.list-column-consult .left{
	margin: 0px;
}
.list-column-consult .right{
	width: 420px;
}


